<header>
    <h1>The Weather App</h1>
    <div>
        <a href="http://localhost:3000/">Weather</a>
        <a href="http://localhost:3000/help">Help</a>
        <a href="http://localhost:3000/about">About</a>
    </div>
    <h2>Error - {{statusCode}}</h2>
</header>

