<header>
    <h1>The Weather App</h1>
    <div>
        <a href="http://192.168.0.227:3000/">Weather</a>
        <a href="http://192.168.0.227:3000/help">Help</a>
        <a href="http://192.168.0.227:3000/about">About</a>
    </div>
    <h2>{{page}}</h2>
</header>
